# IDEやエディタの設定ファイル
.idea/
.vscode/
*.swp
*.swo

# OS生成ファイル
.DS_Store
Thumbs.db

# ログファイル
*.log

# 環境変数ファイル
.env

# Docker関連
docker-compose.override.yml

# バックエンドとフロントエンドの特定のファイルは個別の.gitignoreで管理
/backend/*
!/backend/.gitignore
!/backend/src/
!/backend/build.gradle
!/backend/settings.gradle
!/backend/gradlew
!/backend/gradlew.bat

/frontend/*
!/frontend/.gitignore
!/frontend/HRManagementSystem/